.encabezado{
    height: 100px;
}

/* Estilos generales para el botón Guardar */
.styled-button3 {
    background-color: #4CAF50;
    margin: 10px;
}
/* Estilo cuando el cursor está sobre el botón Guardar */
.styled-button3:hover {
    background-color:  #09b60f;
    color:#ffffff;
}
/* Estilos generales para el botón Borrar */
.btn.custom-btn2 {
    background-color: rgb(216, 33, 33);
    color:#ffffff;
    
}
/* Estilo cuando el cursor está sobre el botón Borrar */
.btn.custom-btn2:hover {
    background-color:  #f80000;
    color:#ffffff;
}
/* Estilos generales para el botón Nuevo */
.btn.custom-btn {
    background-color: rgb(241, 241, 241);
    color:rgb(8, 106, 218);
    margin-right: 180px;
    margin-top: 10px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
/* Estilo cuando el cursor está sobre el botón Nuevo */
.btn.custom-btn:hover {
    background-color: rgb(8, 106, 218);
    color:#ffffff;
    
}
/* Estilos generales para el botón Modificar */
.btn.custom-btn3 {
    background-color:  #f37623;
    color:#ffffff;
}
/* Estilo cuando el cursor está sobre el botón Modificar */
.btn.custom-btn3:hover {
    background-color: #ff6600;;
    color:#ffffff;
}
.btn.custom-btn-aceptar{
    background-color: #4CAF50; 
    color:#ffffff; 
}
/* Estilo cuando el cursor está sobre el botón Aceptar */
.btn.custom-btn-aceptar:hover {
    background-color:  #09b60f;
    color:#ffffff;
}
.btn.custom-btn-cancelar{
    background-color: rgb(216, 33, 33);
    color:#ffffff;
}
/* Estilo cuando el cursor está sobre el botón Cancelar */
.btn.custom-btn-cancelar:hover {
    background-color:  #f80000;
    color:#ffffff;
}
.detalle{
    text-align: center;
}
.navbar .navbar-expand-lg{
    background-color: #000000;
    margin: 0rem;
    color: #ffffff;
    margin-top: 50px;
}
.nav-item {
    color: #000000;
}

header{
    background-color:#000000 ;
    text-align: center;
}
footer{
    background-color: #000000;
    color: #ffffff;
    position:fixed;
    bottom: 0;
    width: 100vw;
}
#search{
    color: #ffffff;
    border: .0625rem solid #ffffff;
}
#search:active{
    color: #ffffff;
    background-color: #ffffff;
}
/* Estilos generales para la tabla */
.table .table-striped .table-hover{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; 
    top:100px;
    border-radius: 10px; 
}
/* Estilos para los encabezados de la tabla */
.table thead th {
    border: 1px solid #dddddd; 
    padding: 8px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}
/* Estilos para las celdas de datos */
.table td {
    border: 1px solid #dddddd;
    padding: 8px;
}
.content{
    flex: 1;
}
.custom-form{
    margin: 100px;
    font-size: 16px;
}

