body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

nav{
    background-color: #000000;
    margin: 0rem;
    color: #ffffff;
}
.nav-item a {
    color: #9e9797;
}

header{
    background-color:#000000 ;
    color: #ffffff;
    margin: 0rem;
    height: 3.125rem;
    text-align: center;
}


footer{
    background-color: #000000;
    color: #ffffff;
    position:fixed;
    bottom: 0;
    width: 100vw;
}


#search{
    color: #ffffff;
    border: .0625rem solid #ffffff;
}

#search:active{
    color: #ffffff;
    background-color: #ffffff;
}


/* Estilos generales para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    font-size: 14px;
    top:100px;
}

/* Estilos para los encabezados de la tabla */
.table th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/* Estilos para las celdas de datos */
.table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

/* Alternancia de colores en filas */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos generales para el botón Modificar */
.styled-button3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Estilos generales para el botón Borrar */
.styled-button2 {
    background-color: rgb(216, 33, 33);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
/* Estilos generales para el botón Nuevo */
.styled-button1{
    background-color: rgb(114, 180, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    top: 120px;
    right: 250px;
}
/* Estilos generales para el botón Modificar */
.styled-button {
    background-color: #e47d29;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
/* Estilo cuando el cursor está sobre el botón Nuevo */
.styled-button1:hover {
    background-color: rgb(8, 106, 218);
    color:#ffffff;
}

/* Estilo cuando el cursor está sobre el botón Modificar */
.styled-button3:hover {
    background-color:  #09b60f;
    color:#ffffff;
}

/* Estilo cuando el cursor está sobre el botón Borrar */
.styled-button2:hover {
    background-color:  #f80000;
    color:#ffffff;
}

/* Estilo cuando el cursor está sobre el botón Borrar */
.styled-button:hover {
    background-color:  #ff7402;
    color:#ffffff;
}





