
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
    
    <div class="d-flex justify-content-end  align-items-end">
        <a class="btn btn-primary custom-btn" href="{% url 'ClienteNuevo' %}">Nuevo</a></td>
    </div>
<head>
   
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Clientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <tr>
                        <th>Nombre</th> 
                        <th>Saldo</th>
                        <th></th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for cliente in cliente %}
                <tr style ="cursor: pointer;" onclick="window.location.href='/cliente/ClienteModif/{{cliente.id}}'">
                    <td>{{ cliente.Nombre}}</td>
                    <td>{{ cliente.Saldo}}</td>
                    <td><a class="btn custom-btn2" href="/cliente/ClienteBorrar/{{cliente.id}}">Borrar</a>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
    <!-- Incluye los scripts de Bootstrap al final del cuerpo -->
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}