{% include 'navbar.html' %} 
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<head>
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Detalle de la Venta</h1>
        <table id="tabla_ventas" class="table">
            <thead>
                <tr>
                    <th>Vendedor</th>
                    <th>Cliente</th>
                    <th>TipoVenta</th>
                    <th>TipoPago</th>
                    <th>Total</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ventas.Vendedor}}</td>
                    <td>{{ ventas.Cliente}}</td>
                    <td>{{ ventas.TipoVenta}}</td>
                    <td>{{ ventas.TipoPago}}</td>
                    <td>{{ ventas.Total}}</td>
                    <td>{{ ventas.Fecha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% bootstrap_javascript %}
</body>
                
{% endblock %}