{% include 'navbar.html' %} 
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<head>
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Detalle del Cliente</h1>
        <table id="tabla_cliente" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>  
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cliente.Nombre}}</td>
                    <td>{{ cliente.Telefono}}</td>
                    <td>{{ cliente.Direccion}}</td>
                    <td>{{ cliente.Saldo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% bootstrap_javascript %}
</body>
                
{% endblock %}