{% include 'navbar.html' %} 
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<head>
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>DetalleProducto</h1>
        <table id="tabla_producto" class="table">
            <thead>
                <tr>
                    <th>TipoProducto</th>
                    <th>Descripcion</th>
                    <th>Talle</th>
                    <th>Color</th>
                    <th>Marca</th>
                    <th>PrecioCompra</th>
                    <th>PrecioVenta</th>
                    <th>Stock</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ producto.TipoProducto}}</a></td>
                    <td>{{ producto.Descripcion}}</td>
                    <td>{{ producto.Talle}}</td>
                    <td>{{ producto.Color}}</td>
                    <td>{{ producto.Marca}}</td>
                    <td>{{ producto.PrecioCompra}}</td>
                    <td>{{ producto.PrecioVenta}}</td>
                    <td>{{ producto.Stock}}</td>
                </tr>
                </tr>
            </tbody>
        </table>
    </div>
    {% bootstrap_javascript %}
</body>
                
{% endblock %}