{% include 'navbar.html' %} 
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<head>
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Detalles del Proveedor</h1>
        <table id="tabla_proveedor" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Localidad</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ proveedor.Nombre}}</a></td>
                    <td>{{ proveedor.Telefono}}</a></td>
                    <td>{{ proveedor.Localidad}}</a></td>
                    <td>{{ proveedor.Email}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% bootstrap_javascript %}
</body>
                
{% endblock %}