{% extends 'navbar.html' %} 
{% load static %}
{% block content %} 
<div class="mi-contenedor">
    <div class="container mt-5">
        <div class="row">
            <h3 class="display-4 my-3">Clientes</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{% url 'clienteLista' %}">
                        <button class="btn custom-btn-aceptar" type="submit" >Guardar</button>
                    </a>
                    <a class="btn custom-btn-cancelar" href="/cliente/ClienteLista">Cancelar</a>
                </form>
            </div>
        </div>
    </div>  
</div>
{% endblock %}