{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
    
    <div class="d-flex justify-content-end  align-items-end">
        <a class="btn btn-primary custom-btn" href="{% url 'productoNuevo' %}">Nuevo</a></td>
    </div>
<head>
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Productos</h1>
        <table class="table">
            <thead>
                <tr>
                    <tr>
                        <th>TipoProducto</th>
                        <th>Descripcion</th>
                        <th>Talle</th>
                        <th>Color</th>
                        <th>Marca</th>
                        <th>PrecioCompra</th>
                        <th>PrecioVenta</th>
                        <th>Stock</th>
                        <th></th>
                        
                    </tr>
                </tr>
            </thead>
            <tbody> 
                {% for producto in producto %}
                <tr style ="cursor: pointer;" onclick="window.location.href='/producto/ProductoModif/{{producto.id}}'">
                    <td>{{ producto.TipoProducto}}</a></td>
                    <td>{{ producto.Descripcion}}</td>
                    <td>{{ producto.Talle}}</td>
                    <td>{{ producto.Color}}</td>
                    <td>{{ producto.Marca}}</td>
                    <td>{{ producto.PrecioCompra}}</td>
                    <td>{{ producto.PrecioVenta}}</td>
                    <td>{{ producto.Stock}}</td>
                    <td><a class="btn custom-btn2" href="/producto/ProductoBorrar/{{producto.id}}">Borrar</a></td> </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Incluye los scripts de Bootstrap al final del cuerpo -->
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}