{% include 'navbar.html' %} 
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
    
    <div class="d-flex justify-content-end  align-items-end">
        <a class="btn btn-primary custom-btn" href="/producto/NuevoProducto/">Nuevo</a></td>
    </div>
<head>
   
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Productos</h1>
        <table class="table">
            <thead>
                <tr>
                    <tr>
                        <th>Descripcion</th> 
                        <th>Talle</th>
                        <th>PrecioVenta</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for producto in producto %}
                <tr style ="cursor: pointer;" onclick="window.location.href='producto/detalleProducto/{{ producto.id }}'">
                    <td>{{ producto.Descripcion}}</a></td>
                    <td>{{ producto.Talle}}</td>
                    <td>{{ producto.PrecioVenta}}</td>
                    <td class="d-flex justify-content-end  align-items-end"><a class="btn custom-btn3" href="/producto/ModificarProducto/{{producto.id}}">Modificar</a></td>
                    <td><a class="btn custom-btn2" href="/producto/EliminarProducto/{{producto.id}}">Borrar</a></td> </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Incluye los scripts de Bootstrap al final del cuerpo -->
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}