{% include 'navbar.html' %} 
{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
    
    <div class="d-flex justify-content-end  align-items-end">
        <a class="btn btn-primary custom-btn" href="/vendedores/NuevoVendedores/">Nuevo</a></td>
    </div>
<head>
   
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Vendedores</h1>
        <table class="table">
            <thead>
                <tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for vendedores in vendedores %}
                <tr style ="cursor: pointer;" onclick="window.location.href='vendedores/detalleVendedores/{{ vendedores.id }}'">
                    <td>{{ vendedores.Nombre}}</td>
                    <td>{{ vendedores.Direccion}}</td>
                    <td class="d-flex justify-content-end  align-items-end"><a class="btn custom-btn3" href="/vendedores/ModificarVendedor/{{vendedores.id}}">Modificar</a></td>
                    <td><a class="btn custom-btn2" href="/vendedores/EliminarVendedor/{{vendedores.id}}">Borrar</a></td> </td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
    <!-- Incluye los scripts de Bootstrap al final del cuerpo -->
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}