{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<div class="d-flex justify-content-end align-items-end mb-3">
    <form method="GET" action="{% url 'vendedoresLista' %}">
        <div class="input-group">
            <input type="text" class="form-control inputApagado" name="q" value="{{ query }}" placeholder="Buscar producto...">
            <button class="btn btn-primary text-light" type="submit">Buscar</button>
        </div>
    </form>
</div> 
    <div class="d-flex justify-content-end  align-items-end">
        <a class="btn btn-primary custom-btn" href="/vendedores/NuevoVendedores/">Nuevo</a></td>
    </div>
<head>
   
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Vendedores</h1> 
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th></th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for vendedores in vendedores %}
                <tr style ="cursor: pointer;" onclick="window.location.href='/vendedores/ModificarVendedor/{{vendedores.id}}'">
                    <td>{{ vendedores.Nombre}}</td>
                    <td>{{ vendedores.Telefono}}</td>
                    <td>{{ vendedores.Direccion}}</td>
                   
                    <td><a class="btn custom-btn2" href="/vendedores/EliminarVendedor/{{vendedores.id}}">Borrar</a></td> </td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
    <!-- Incluye los scripts de Bootstrap al final del cuerpo -->
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}