{% include 'navbar.html' %}  
{% block content %}

<h2>Vendedores</h2>
<div class="d-flex justify-content-end  align-items-end"><a class="styled-button1" href="/vendedores/NuevoVendedores/">Nuevo</a></td>
<table id="tabla_vendedores" class='table table-striped'>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        {% for vendedores in vendedores %}
        <tr style ="cursor: pointer;" onclick="window.location.href='vendedores/detalleVendedores/{{ vendedores.id }}'">
            <td>{{ vendedores.Nombre}}</td>
            <td>{{ vendedores.Direccion}}</td>
            <td class="d-flex justify-content-end  align-items-end"><a class="styled-button" href="/vendedores/ModificarVendedor/{{vendedores.id}}">Modificar</a></td>
            <td><a class="styled-button2" href="/vendedores/EliminarVendedor/{{vendedores.id}}">Borrar</a></td> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}