{% include 'base.html' %} 
{% block content %} 
{% load bootstrap5 %}
{% load static %} 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Incluye los estilos de Bootstrap -->
    {% bootstrap_css %}
</head>
<body>
    <style> 
        body {
            background-color: rgb(183, 193, 196);
        }
    </style>
    <div class="container">
        <h3 class="display-4 my-3">Ventas </h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
            {{ formset.management_form }}

            <h6 class="display-6 my-3">Producto</h6> 
            <div class=" table-responsive">
                <table class="table rounded-table table-bordered"> 
                    <thead class="bg-dark text-light">
                        <th>Id</th>
                        <th>TipoProducto</th>
                        <th></th>
                        <th>Cantidad</th>
                        <th>PrecioVenta</th>
                        <th></th>
                        <th>¿Borrar?</th>
                        <th></th>
                        
                    </thead>
                    <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>{{ form.id.value }}</td>
                        {% for field in form %}
                            <td>{{ field }}</td>
                        {% endfor %}              
                    </tr>
                    {% endfor %}
                    
                    </thead class="bg-dark text-light">
                        <th></th>
                        <th></th>
                        <th></th><th></th><th>total: </th>
                        <th></th>
                        <th></th>
                    </thead>
                
                </table>
                  
            </div>

            <button class="btn custom-btn-aceptar" type="submit">Guardar</button>
            <a class="btn custom-btn-cancelar" href="{% url 'ventas' %}">  Cancelar</a>

            {% if ventas.id %}
                <a class="btn btn-outline-primary mb-3" href="{% url 'ventasPDF' ventas_pk=ventas.id %}"> <i class="fas fa-print"></i> Imprimir</a>
            {% else %}
                <button disabled>Imprimir</button>
            {% endif %}     
        </form>
    </div>
</body>
{% endblock %}
